# unity ignore dir
/[Ll]ibrary/
/[Bb]in/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ar]tifactDB/


.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.apk
*.unitypackage
*.bin
*.bin
*.bin
*.bin
Assembly-CSharp.csproj

Library/ArtifactDB
Library/ArtifactDB
Library/Style.catalog
Library/ArtifactDB
*.csproj
ProjectSettings/ProjectVersion.txt
*.json
.DS_Store
.vscode/settings.json
Assets/UI/.DS_Store
Assets/Resources/BillingMode.json.meta
Logs/AssetImportWorker0-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
