# unity ignore dir
/[Ll]ibrary/
/[Bb]in/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ar]tifactDB/


.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.apk
*.unitypackage
*.bin
*.bin
*.bin
*.bin
*.unity


Library/ArtifactDB
Library/ArtifactDB
Library/Style.catalog
Library/ArtifactDB
